<div id="wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="adjust-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
          <img src="static/img/dell1.png" length=100px width=100px class="img-responsive" />
          <div class="wrap">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="What are you looking for?">
              <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <!--<a class="navbar-brand" href=""><i class="fa fa-square-o "></i>&nbsp;TWO PAGE</a>-->
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">See Website</a></li>
          <li><a href="#">Open Ticket</a></li>
          <li><a href="#">Report Bug</a></li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav" id="main-menu">
        <li class="text-center user-image-back">
          <div style="text-align: center"><img src="static/img/find_user.png" class="img-responsive" /></div>
          <p style="color:white;">{{ users[5] }}</p>
        </li>
        <li>
          <a href="OptimiseNetwork.html"><i class="fa fa-desktop "></i>Dashboard</a>
        </li>
        <li>
          <a href="Optimise Network.html"><i class="fa fa-table "></i>Activity Tracker<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <a href=''>Add New Issue</a>
            </li>
            <li>
              <a href=''>Track Issues</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-edit "></i>About Dell</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="testbox">
    <form action="http://127.0.0.1:5000/home" method="post">
      <div class="banner">
        <h1>Add New Issue</h1>
      </div>
      <div class="item">
        <p>Order id</p>
        <div class="item">
          <input type="text" name="orderid"/>
        </div>
      </div>
      <div class="item">
        <p>Product id </p>
        <input type="text" name="productid"/>
      </div>
      <div class="item">
        <p>Product Name</p>
        <input type="text" name="productname" />
      </div>
      <div class="item">
        <p>Quantity</p>
        <input type="text" name="quantity"/>
      </div>
      <div class="item">
        <p>Supplier id</p>
        <input type="text" name="supplierid"/>
      </div>
      <div class="item">
        <p>Reason</p>
        <div class="city-item">
          <input type="text" name="reason"/>
          <select>
            <option value="1">Natural Disaster</option>
            <option value="2">Shipment Delay </option>
            <option value="3">Raw Material Shortage</option>
            <option value="4">Data and Human Error</option>
            <option value="5">Financial Constraints</option>
          </select>
        </div>
      </div>
      <div class="item">
      <div class="btn-block">
        <button>Register Ticket</button>
      </div>
    </form>
  </div>
</div>
